# Ignore virtual environment
.venv/

# Ignore local Kaggle py
kaggle_refresher.py

# Ignore OS-specific files
.DS_Store
Thumbs.db

# Ignore compiled Python files
__pycache__/
*.pyc

# Ignore creds
settings.env
kaggle.json
